.navbar{
    height: 50px;
    background-color: royalblue;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: peachpuff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 600;
}

.navButton{
    margin-left: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: royalblue;
    color: peachpuff;
}